.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.size_my:hover{
  transform: scale(1.15);
  color: black;
  background-color: #e4e6e7;
  text-decoration-color: rgb(173, 22, 127);

}
table{
  table-layout: fixed;
}
table, th, td {
  border: 2px solid black;
  
  

}
th{
  text-align: right;
}
td{
  text-align:start;
  margin-right: 5px;
  overflow-wrap: break-word;
}
.size_button:hover{
  transform: scale(1.15);
}
td:hover{
  transform:scale(1.01);
  background-color: aliceblue;
  text-align: center;
  
}
tr:nth-child(even) {
  background-color: #75d7d7;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
